@page "/employees"

<PageTitle>@_title</PageTitle>

<h2 class="pb-3">Employee Overview</h2>

@if (Employees == null)
{
    <p><em>Loading...</em></p>
}

else
{
    <QuickViewPopUp Employee="_selectedEmployee"></QuickViewPopUp>

    <div class="w-100 d-flex">
    @foreach (var employee in Employees)
        {
            <ErrorBoundary>
                <ChildContent>
                    <EmployeeCard Employee="employee" OnShowDetailsPopUp="HandleShowDetailsPopUp">
                    </EmployeeCard>
                </ChildContent>
                <ErrorContent>Invalid Employee!</ErrorContent>
            </ErrorBoundary>
        }
    </div>
}