<div class="col-3 px-3">
    <div class="card w-100">
        <img class="card-img-top"
            src="@($"https://gillcleerenpluralsight.blob.core.windows.net/person/{Employee.EmployeeId}-small.jpg")"
            alt="Card image cap">

        <div class="card-body">
            <h5 class="card-title py-2">@Employee.FirstName @Employee.LastName</h5>

            <button class="btn btn-primary w-100 mb-2"
                @onclick="(async () => await OnShowDetailsPopUp.InvokeAsync(Employee))">
                Quick View
            </button>

            <button class="btn btn-primary w-100 mb-2" @onclick="(() => NavigateToDetails(Employee))">
                Full Details</button>
        </div>
    </div>
</div>

